# Dictionaries

# Name: sidhu
rollno: 221913901020

A dictionary in Python is a collection of key-value pairs. Each key is connected
to a value, and you can use a key to access the value associated with that key.
A key’s value can be a number, a string, a list, or even another dictionary.
In fact, you can use any object that you can create in Python.

In Python, a dictionary is wrapped in braces, {}, with a series of keyvalue
pairs inside the braces

In [72]:
# Make a dictionary with {} and : to signify a key and a value

In [1]:
currentdict = {"name":"kumar","pincode":5016169}

In [2]:
currentdict

{'name': 'kumar', 'pincode': 5016169}

A key-value pair is a set of values associated with each other. When you
provide a key, Python returns the value associated with that key. Every key
is connected to its value by a colon, and individual key-value pairs are separated
by commas.

In [6]:
passdict = {"roll":29122,"address":"petancheru,hyderabad","father_name":"venu gopal"}

In [7]:
passdict

{'roll': 29122, 'address': 'petancheru,hyderabad', 'father_name': 'venu gopal'}

In [8]:
# Call values by their key
passdict["roll"]

29122

In [10]:
# Method to return a list of all keys 
passdict.keys()

dict_keys(['roll', 'address', 'father_name'])

In [11]:
# Method to grab all values
passdict.values()

dict_values([29122, 'petancheru,hyderabad', 'venu gopal'])

In [13]:
# Method to return tuples of all item
passdict.items()

dict_items([('roll', 29122), ('address', 'petancheru,hyderabad'), ('father_name', 'venu gopal')])

In [14]:
my_dict = {'key1':123,'key2':[12,34,56,'Python'],'key3':['Tableau','R','Excel']}

In [15]:
my_dict.values()

dict_values([123, [12, 34, 56, 'Python'], ['Tableau', 'R', 'Excel']])

In [16]:
# Let's call items from the dictionary
my_dict.items()

dict_items([('key1', 123), ('key2', [12, 34, 56, 'Python']), ('key3', ['Tableau', 'R', 'Excel'])])

In [23]:
# Can call an index on that value
my_dict['key2'][3]

'Python'

In [24]:
my_dict['key3']

['Tableau', 'R', 'Excel']

# Adding New Key-Value Pairs
Dictionaries are dynamic structures, and you can add new key-value pairs
to a dictionary at any time. For example, to add a new key-value pair, you
would give the name of the dictionary followed by the new key in square
brackets along with the new value.

In [81]:
my_dict

{'key1': 123,
 'key2': [12, 34, 56, 'Python'],
 'key3': ['Tableau', 'R', 'Excel']}

In [27]:
my_dict['key4'] = [1,2,3]
print(my_dict)

{'key1': 123, 'key2': [12, 34, 56, 'Python'], 'key3': ['Tableau', 'R', 'Excel'], 'key4': [1, 2, 3]}

In [26]:
my_dict

{'key1': 123,
 'key2': [12, 34, 56, 'Python'],
 'key3': ['Tableau', 'R', 'Excel'],
 'key4': [1, 2, 3]}

# Modifying Values in a Dictionary
To modify a value in a dictionary, give the name of the dictionary with the
key in square brackets and then the new value you want associated with
that key.

In [33]:
passdict["roll"] = 221913901020

In [34]:
passdict

{'roll': 221913901020,
 'address': 'petancheru,hyderabad',
 'father_name': 'venu gopal',
 'key1': 221913901020}

# Removing Key-Value Pairs
When you no longer need a piece of information that’s stored in a dictionary,
you can use the del statement to completely remove a key-value pair.
All del needs is the name of the dictionary and the key that you want to
remove.

In [35]:
del passdict["key1"]

In [36]:
passdict

{'roll': 221913901020,
 'address': 'petancheru,hyderabad',
 'father_name': 'venu gopal'}

# Tuples

Tuples construt simple groups of objects. They work exactly like lists, except that tuples can’t be changed inplace (they’re immutable) and are usually written as a series of items in parentheses, not square brackets.

The construction of a tuples use () with elements separated by commas.

In [38]:
# Create a tuple
tup = (45,56,78,90)

In [39]:
tup

(45, 56, 78, 90)

In [40]:
# Check len 
len(tup)

4

In [41]:
# Can also mix object types
tupper = (46,"amruta",6545843232)

In [42]:
tupper

(46, 'amruta', 6545843232)

In [43]:
#  indexing 
tupper[2]

6545843232

In [44]:
# Slicing j
tupper[1:3]

('amruta', 6545843232)

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [45]:
# Use .index to enter a value and return the index
tupper.index("amruta")

1

In [46]:
# Use .count to count the number of times a value appears
tupper.count("amruta")

1

In [48]:
t = ('python',2, 'tableau','mysql','tableau')

In [49]:
t

('python', 2, 'tableau', 'mysql', 'tableau')

In [50]:
t.count('tableau')

2

# Immutability
Python refers to values that cannot change as immutable, and an immutable list is called a tuple.

# Sets
Sets are an unordered collection of unique elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [52]:
tes = {1,3,4,33,44,32,3,4,1}

In [53]:
tes

{1, 3, 4, 32, 33, 44}

In [55]:
# We add to sets with the add() method
tes.add(8)

In [56]:
tes

{1, 3, 4, 8, 32, 33, 44}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [57]:
# Add a different element
lister = [1,2,3,8,8,9,9,46,54]

In [58]:
lister

[1, 2, 3, 8, 8, 9, 9, 46, 54]

In [59]:
# Create a my_list with repeats
my_list = [2,3,4,4,5,6,6]

In [60]:
my_list

[2, 3, 4, 4, 5, 6, 6]

In [62]:
set(my_list)

{2, 3, 4, 5, 6}

# Happy Coding