# LOADING DATA INTO PANDAS
**ok

In [3]:
import pandas as pd
df = pd.read_csv("E:\study\datasets\pokemon_data.csv")
#print(df.head(4))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

# reading data in pandas:

In [12]:
#read headers/columns:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [13]:
#read each column:
print(df['Name'])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [14]:
#read each column only given rows:
print(df['Name'][0:6])

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
5               Charmeleon
Name: Name, dtype: object

In [15]:
# read multiple columns:
print(df[['Name','Type 1']])

                      Name   Type 1
0                Bulbasaur    Grass
1                  Ivysaur    Grass
2                 Venusaur    Grass
3    VenusaurMega Venusaur    Grass
4               Charmander     Fire
..                     ...      ...
795                Diancie     Rock
796    DiancieMega Diancie     Rock
797    HoopaHoopa Confined  Psychic
798     HoopaHoopa Unbound  Psychic
799              Volcanion     Fire

[800 rows x 2 columns]

In [16]:
#read each rows:
#method 1:
#print(df.head(5))
#method 2:
print(df.iloc[0:2])

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False

In [17]:
#reading a specific location:
#lets say we want grass from 1st row and 2nd column:
print(df.iloc[1,2])

Grass

# Sorting & describing:

In [18]:
#describe():it gives us the exploratory data analysis.
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [20]:
df.sort_values('Name')
#multiple variables:
#df.sort_values(['Type 1','HP'],ascending = FALSE)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

# Making changes to the data:

In [12]:
# adding new columns in a data frame with some of all the values in a row.
df['total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Generation']
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,274
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,346
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,446
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,546
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,245

# To delete a variable:

In [13]:
#drop(): to delete a variable.
df = df.drop(columns = ['total'])
print(df.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

In [16]:
#method 2: adding new variables:
#sum of rows from 4-9 variable.
df['total'] = df.iloc[:,4:10].sum(axis = 1) # axis = 1 gives horizontally & 0 gives it in vertically.
print(df.head(2))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary  total
0           1      False    318
1           1      False    405

In [24]:
#reordering the variables:
#M1:
#df = df['Name','total'] writing it like this is bit hectc
#M2:storing all the variables in a list.
cols = list(df.columns)
df = df[cols[0:4]+[cols[-1]]+cols[4:12]]
print(df.head(2))

   #       Name Type 1  Type 2  Legendary  total  HP  Attack  Defense  \
0  1  Bulbasaur  Grass  Poison      False    318  45      49       49
1  2    Ivysaur  Grass  Poison      False    405  60      62       63

   Sp. Atk  Sp. Def  Speed  Generation
0       65       65     45           1
1       80       80     60           1

# Saving our data:

In [32]:

df.to_csv('modifiedpoki.csv',index=False)#if we keep index = false the first attribute will be gone off.
#to save in excel.
#df.to_excel('modified.csv',index=False)

# FILTERING THE DATA:

In [42]:
#loc() function:
df.loc[df['Type 1'] == 'Grass']
#for multiple filterings:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == "Poison")]
#for integer data:
newdf = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == "Poison")|(df['Attack'] == 59)]
newdf
#to reset the new indexes removing the old ones:
newdf = newdf.reset_index()#it saves that old index values as a new variable,to deduct this
#print(newdf)
newdf.reset_index(drop=True)

,index,#,Name,Type 1,Type 2,Legendary,total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,48,43,Oddish,Grass,Poison,False,320,45,50,55,75,65,30,1
5,49,44,Gloom,Grass,Poison,False,395,60,65,70,85,75,40,1
6,50,45,Vileplume,Grass,Poison,False,490,75,80,85,110,90,50,1
7,75,69,Bellsprout,Grass,Poison,False,300,50,75,35,70,30,40,1
8,76,70,Weepinbell,Grass,Poison,False,390,65,90,50,85,45,55,1
9,77,71,Victreebel,Grass,Poison,False,490,80,105,65,100,70,70,1
10,344,315,Roselia,Grass,Poison,False,400,50,60,45,100,80,65,3
11,451,406,Budew,Grass,Poison,False,280,40,30,35,50,70,55,4
12,452,407,Roserade,Grass,Poison,False,515,60,70,65,125,105,90,4
13,458,413,WormadamPlant Cloak,Bug,Grass,False,424,60,59,85,79,105,36,4
14,651,590,Foongus,Grass,Poison,False,294,69,55,45,55,55,15,5
15,652,591,Amoonguss,Grass,Poison,False,464,114,85,70,85,80,30,5
16,722,654,Braixen,Fire,NaN,False,409,59,59,58,90,70,73,6
17,768,698,Amaura,Rock,Ice,False,362,77,59,50,67,63,46,6

# Filtering based on textual patterns:

In [45]:
df.loc[df['Name'].str.contains('Mega')]
#if we want to do the reverse of it.we can use '~' to get the data which dont have 'mega:
df.loc[~df['Name'].str.contains('Mega')]
#learn regex library for filtering on textual patterns.

,#,Name,Type 1,Type 2,Legendary,total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1
5,5,Charmeleon,Fire,NaN,False,405,58,64,58,80,65,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,True,600,108,100,121,81,95,95,6
795,719,Diancie,Rock,Fairy,True,600,50,100,150,100,150,50,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,600,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,680,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,600,80,110,120,130,90,70,6

# Conditional Changes:

In [52]:
df.loc[df['Type 1'] == 'Fire','Type 1'] = 'Flamey'
df
#we can chnge the one condition to other values.
df.loc[df['Type 1'] == 'Flamey','Legendary'] = True
df
#to get the original data:
df = pd.read_csv("modifiedpoki.csv")
df
#modifying things with conditions:
#df.loc[df['total'] >= 450,['Generation','Legendary']] = ['sidhu1','sidhu2']

,#,Name,Type 1,Type 2,Legendary,total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,600,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,True,700,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,600,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,680,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,600,80,110,120,130,90,70,6

# Aggregate statistics:(groupby):

In [59]:
df
#finding (mean,sum,counting )of classess or groups in a  specific variable
df.groupby(['Type 1']).mean()
#we can also do the sorting for this:
df.groupby(['Type 1']).mean().sort_values(['Defense'],ascending = False)
#sum
df.groupby(['Type 1']).sum()
#for multiple variables:
df.groupby(['Type 1','Type 2']).count()

                  #  Name  Legendary  total  HP  Attack  Defense  Sp. Atk  \
Type 1 Type 2
Bug    Electric   2     2          2      2   2       2        2        2
       Fighting   2     2          2      2   2       2        2        2
       Fire       2     2          2      2   2       2        2        2
       Flying    14    14         14     14  14      14       14       14
       Ghost      1     1          1      1   1       1        1        1
...              ..   ...        ...    ...  ..     ...      ...      ...
Water  Ice        3     3          3      3   3       3        3        3
       Poison     3     3          3      3   3       3        3        3
       Psychic    5     5          5      5   5       5        5        5
       Rock       4     4          4      4   4       4        4        4
       Steel      1     1          1      1   1       1        1        1

                 Sp. Def  Speed  Generation
Type 1 Type 2
Bug    Electric        2      2           2
       Fighting        2      2           2
       Fire            2      2           2
       Flying         14     14          14
       Ghost           1      1           1
...                  ...    ...         ...
Water  Ice             3      3           3
       Poison          3      3           3
       Psychic         5      5           5
       Rock            4      4           4
       Steel           1      1           1

[136 rows x 11 columns]